@import '../../style/config';

.search-box {
    padding: 20px 0;
    form {
        display: flex;
    }
    input {
        border: 1px solid $dark-grey;
        color: $darker-grey;
        border-radius: .2rem;
        padding: 10px;
        width: 100%;
        display: inline-block;
        margin-right: .5rem;
        &[type="submit"] {
            background-color: $blue;
            text-transform: uppercase;
            color: $white;
            border-color: $blue;
            cursor: pointer;
            transition: .1s;
            padding: .5rem;
            margin-left: .5rem;
            margin-right: 0;
            width: 10%;
        }
    }
}
