@import '../../style/config';

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  border: 0;
  list-style: none;
}

.home {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  h3 {
    font-size: 36px;
    color: $darker-grey;
  }
}